<html>
    <script type="text/javascript">
    function validate(){
    amount=document.getElementById("bidamt")
    if(amount>'{{bamt}}')
    {
        if(amount>'{{namt}}')
        {
            const xhr = new XMLHttpRequest()
            const data=new FormData()
            data.append('input', amount)
            xhr.open('POST','/registerbid')
            xhr.send(data)
        }
    }
    }
    </script>
    <body>
        {{value}},{{bamt}}
        <br>
        {{bs}}
        <br>
        {{namt}}
        <form method>
            bid: <input type = "int" id = "bidamt" name="bida" />
            <button onclick="validate()">bid</button>

        </form>
    </body>
</html>