<!DOCTYPE html>
<html>

    <script type="text/javascript">
        var my=document.getElementById('dis');
        var curindex=1;
        function next() {
            var str1="{{products["+curindex.toString()+"]}}";
            curindex++;
            console.log(curindex.toString())
            console.log("in function");
            console.log(str1);
            document.getElementById('dis').innerHTML=str1;
        }
    </script>
    <body>
        <form action="{{ url_for('wallet')}}" method="POST" >
            <button>wallet </button>
        </form>
            <form action="{{ url_for('listproduct')}}" method="POST" >
                <button>listproduct</button>
            
        </form>
        <form action="{{url_for('profile')}}" method="POST">
            <button>profile</button>
        </form>
        <form action="{{ url_for('current')}}" method="POST" >
                <button>gotoauction </button>
        <div id="dis">
        {{products}}
        </div>
            
        
    </body>
</html>