<html>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type=text/javascript>
    function create()
    {
        for (j=0;j<1;j++)
        {
            var f = document.createElement("form");
            console.log('{{pur[0][8]}}')
           
            key='{{pur[0][8]}}'
            var i = document.createElement("input");
            i.type = "text";
            i.name = "point" ;
            i.id = "user_name1";
            var k = document.createElement("input");
            k.type="text"
            k.name="reci"
            k.value=key
            var b=document.createElement("button");
            b.setAttribute('onclick', "se(document.getElementsByName('reci'),document.getElementsByName('point'))");
            b.setAttribute('value',key)
            f.appendChild(i);
            f.appendChild(b);
            f.appendChild(k);
            $("body").append(f);   
            document.getElementsByTagName('body')[0].appendChild(f);
        }
    }
    function se(pts,reci)
    {
        const xhr = new XMLHttpRequest()
            const data=new FormData()
        
            data.append('input', pts)
            data.append('input',reci)
            xhr.open('POST','/rate')
            xhr.send(data)
    }
    
    window.addEventListener('DOMContentLoaded', (event) => {
        console.log('DOM fully loaded and parsed');
        create();
    });
    </script>
    <body>
        {{details}}
        <br>
        {{pur}}
        <br>
        {{onlis}}
        create()
    </body>
</html>